{
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "scss/selector-no-redundant-nesting-selector": true,
    
    "block-no-empty": null,
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-named": "never",
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": "always",
    "max-empty-lines": 2,
    "unit-whitelist": ["em", "rem", "%", "s", "px", "deg"]
  }
}