---
layout: default
title: Video
---
            <section class="video-container">
                <video id="my_video_1" controls="controls" preload="auto" width="640" height="264" poster="my_video_poster.png">
                    <source src="videos/small.mp4" type='video/mp4'>
                </video>
            </section>
            <section>
                <div class="container">
                    <h1>Headline</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec pharetra metus, eget sagittis nibh. Sed sagittis arcu sit amet sapien pellentesque, id elementum enim cursus. Donec vitae posuere metus, at placerat mauris.
                        Integer et erat a ante rhoncus convallis vel sed est. Donec vitae egestas elit, in tincidunt mauris. Maecenas ultricies quis justo varius blandit. Aliquam erat volutpat. Vivamus urna ipsum, rhoncus eu tristique ac, scelerisque
                        vel elit. Ut quam eros, hendrerit eu felis eget, tristique fermentum tellus. Nam mollis lorem tortor, nec volutpat ligula commodo nec. Morbi pellentesque ut lectus blandit mollis. Phasellus felis lorem, euismod sit amet mauris
                        nec, suscipit congue quam. Mauris ullamcorper enim a feugiat malesuada. Aenean scelerisque massa eget arcu venenatis, mollis interdum tellus ultricies.</p>
                    <p>Sed aliquam erat tempor, vehicula eros non, malesuada diam. Vestibulum convallis magna eu lobortis sagittis. Cras ultricies rutrum felis lobortis feugiat. Fusce tempus, lectus vitae volutpat aliquet, neque dolor egestas nisi, ut lobortis
                        nunc est id velit. Nunc ac imperdiet elit. Maecenas laoreet orci eu nisl fermentum, ac maximus tellus varius. Sed venenatis lorem quis turpis suscipit, non maximus sem tristique.</p>
                </div>
            </section>