// Player with playlist
.media-wrap {
    &.media-embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 0 0 0 1px $track-border;
        .video-js {
            width: 100%;
            height: 100%;
        }
        .media-playlist {
            background-color: rgba($color-black, 0.8);
            overflow: visible;
            position: absolute;
            top: 165px;
            left: 1px;
            right: 1px;
            bottom: 1px;
            height: auto;
        }
        .drawer {
            top: 0;
            z-index: 1;
            transform: translateX(-100%);
            transition: transform .25s cubic-bezier(0.4, 0.0, 1, 1);
            &.open {
                border-right: 1px solid rgba($color-white, .08);
                transform: translateX(0);
                transition: transform .25s cubic-bezier(0.0, 0.0, 0.2, 1);
            }
        }
    }
}

.media-icon {
    padding: 0 5px;
    font-size: 30px;
    opacity: .6;
    line-height: 1.1;
    display: inline-block;
    vertical-align: middle;
    &:hover,
    &:focus {
        text-decoration: none;
        opacity: 1;
    }
}

// Share
.media-share {
    background-color: rgba($color-black, 0.8);
    overflow: visible;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    z-index: 1;
}

.media-share-container {
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -5em;
    color: #fff;
    padding: 0 3em;
    h2 {
        margin-bottom: 0;
    }
}

//Error
.media-error {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 40;
    background: rgba(#333, .5);
    cursor: default;
    user-select: none;
    &:after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-size: cover;
        background-position: center center;
    }
    &.media-error--video:after {
        background-image: url(http://static.blogg.no/blogs/image/no-video.gif);
        opacity: .15;
    }
    &.media-error--audio:after {
        background-image: url(http://static.blogg.no/blogs/image/star-move.png);
    }
}

.media-error__content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
}

.media-error__content-wrap {
    width: 80%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}