#comments {
    margin-top: 20px;
    padding-bottom: 20px;
    border: 0;
    border-top: 1px solid $gray-lighter;
    background-color: $color-white;
}

.comment-section {
    position: relative;
    margin: 0 -15px 15px;
    padding: 15px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
    @media screen and (min-width: $screen-sm-min) {
        box-shadow: none;
        margin: 0 0 15px;
        padding: 0;
    }
}

.comment-text {
    min-height: 40px;
}

.comment-input {
    margin-bottom: 15px;
    textarea {
        resize: none;
        height: 64px;
    }
}