.media-wrap,
.media-player,
.media-playlist {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0;
    color: inherit;
}

// Player with playlist
.media-wrap {
    background-color: $video-playlist-bg;
    color: $color-white;
    line-height: 1.5;
    a {
        &:not(.btn) {
            color: $gray-lighter;
            &:hover {
                color: $color-white;
            }
        }
    }
    &.media-video {
        @media screen and (min-width: $screen-md-min) {
            .media-player {
                height: $video-height;
                float: left;
                margin-left: $video-width * (-1);
                padding-left: $video-width;
                .video-js {
                    height: 100%;
                }
            }
            .media-playlist {
                width: $video-width;
                height: $video-height;
                position: absolute;
                right: 0;
            }
        }
    }
}

// Player
.media-player {
    width: 100%;
    clear: both;
    .video-js {
        width: 100%;
    }
}

.media-player__content {
    padding: 15px;
}

.media-title {
    font-size: 20px;
    margin: 0 0 15px;
    a {
        color: inherit;
    }
}

.info-content {
    color: lighten($gray-base, 65%);
    b {
        font-size: 30px;
        font-weight: normal;
        display: block;
    }
}

// Playlist
.media-playlist {
    height: $video-height / 1.5;
}

.media-playlist__header {
    position: relative;
    padding: 15px 10px;
    font-size: 12px;
    white-space: nowrap;
    border-bottom: 1px solid rgba($color-white, .15);
    .pull-right {
        margin-top: -5px;
    }
}

.media-playlist__header__title {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    a {
        color: inherit;
    }
}

.media-playlist__header__info {
    color: $navbar-default-link-disabled-color;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.media-playlist__tracks {
    position: absolute;
    top: 68px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    >li {
        overflow: hidden;
        padding: 15px 10px 15px 0;
        margin: 0;
        background-color: $video-playlist-item-bg;
        &.currently-playing {
            background-color: $video-playlist-item-active-bg;
        }
        &:hover {
            background-color: $video-playlist-item-hover-bg;
        }
    }
}

.media-playlist__index {
    font-size: 10px;
    float: left;
    line-height: $video-playlist-item-height;
    margin: 0 5px;
    text-align: center;
    width: 24px;
    .currently-playing & {
        color: $brand-primary-light;
        font-size: 0;
        position: relative;
        &:after {
            content: "▶";
            position: absolute;
            font-size: 20px;
            right: 3px;
        }
    }
}

.media-playlist__video {
    display: block;
    height: $video-playlist-item-height;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: $video-playlist-color;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.media-playlist__video__thumb {
    float: left;
    margin-right: 10px;
    overflow: hidden;
    background: #f1f1f1;
    font-size: 0;
    img {
        width: 80px;
        height: 45px;
    }
}

.media-playlist__video__description {
    overflow: hidden;
    position: relative;
    h4 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    span {
        font-size: 12px;
        color: $navbar-default-brand-color;
    }
}