.media-player__poster {
    float: left;
    padding: 15px;
    display: none;
    &:before {
        display: inline-block;
        vertical-align: middle
    }
    img {
        width: $audio-height;
        height: $audio-height;
        vertical-align: middle;
    }
    +.media-player__content {
        .video-js {
            height: 100px;
        }
    }
    @if not $embed-style {
        @media screen and (min-width: $screen-md-min) {
            display: block;
            +.media-player__content {
                margin-left: $audio-height + 30;
                padding: 15px 15px 0 0;
            }
        }
    } @else {
        @media screen and (min-width: $screen-xs-min) {
            display: block;
            +.media-player__content {
                margin-left: $audio-height + 30;
                padding: 15px 15px 0 0;
            }
        }
    }
}
.media-info {
    padding: 0 15px 15px;
    @if not $embed-style {
        @media screen and (min-width: $screen-md-min) {
            padding: 15px;
        }
    } @else {
        @media screen and (min-width: $screen-xs-min) {
            padding: 15px;
        }
    }
}