.video-container {
    background-color: $gray;
    color: $color-white;
    a {
        color: $gray-lighter;
        &:hover {
            color: $color-white;
        }
    }
    .container,
    video {
        width: 100%;
        padding: 0;
    }
}