.media-wrap,
.media-player,
.media-playlist {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0;
    color: inherit;
}

// Player with playlist
.media-wrap {
    background-color: $video-playlist-bg;
    color: $color-white;
    line-height: 1.5;
    a {
        &:not(.btn) {
            color: $gray-lighter;
            &:hover {
                color: $color-white;
            }
        }
    }
    &.media-video {
        @media screen and (min-width: $screen-md-min) {
            .media-player {
                height: $video-height;
                float: left;
                margin-left: $video-width * (-1);
                padding-left: $video-width;
                .video-js {
                    height: 100%;
                }
            }
            .media-playlist {
                width: $video-width;
                height: $video-height;
                position: absolute;
                right: 0;
            }
        }
    }
    &.media-embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .playlist-drawyer {
            position: absolute;
            left: 100%;
            margin: 16px 0 0 10px;
            text-shadow: 1px 1px 0px rgba($color-black, 0.5);
            opacity: 0.99;
            transition: opacity .5s;
        }
        .video-js {
            width: 100%;
            height: 100%;
            &.vjs-user-inactive.vjs-playing+.media-playlist {
                .playlist-drawyer {
                    opacity: 0;
                }
            }
        }
        .media-playlist {
            background-color: rgba($color-black, 0.8);
            width: $video-width;
            max-width: 100%;
            height: 100%;
            overflow: visible;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transform: translateX(-100%);
            transition: transform .25s cubic-bezier(0.4, 0.0, 1, 1);
            &.open {
                border-right: 1px solid rgba($color-white, .08);
                transform: translateX(0);
                transition: transform .25s cubic-bezier(0.0, 0.0, 0.2, 1);
                .playlist-drawyer {
                    display: none;
                }
            }
        }
    }
}

// Player
.media-player {
    width: 100%;
    clear: both;
    .video-js {
        width: 100%;
    }
}

.media-player__poster {
    float: left;
    padding: 15px;
    display: none;
    &:before {
        display: inline-block;
        vertical-align: middle
    }
    img {
        width: $audio-height;
        height: $audio-height;
        vertical-align: middle;
    }
    +.media-player__content {
        .video-js {
            height: 100px;
        }
    }
    @media screen and (min-width: $screen-md-min) {
        display: block;
        +.media-player__content {
            margin-left: $audio-height + 30;
            padding: 15px 15px 0 0;
        }
    }
}

.media-player__content {
    padding: 15px;
}

.media-title {
    font-size: 20px;
    margin: 0 0 15px;
    a {
        color: inherit;
    }
}

.media-info {
    padding: 0 15px 15px;
    @media screen and (min-width: $screen-md-min) {
        padding: 15px;
    }
}

.info-content {
    color: lighten($gray-base, 65%);
    b {
        font-size: 30px;
        font-weight: normal;
        display: block;
    }
}

// Playlist
.media-playlist {
    height: $video-height / 1.5;
}

.media-playlist__header {
    position: relative;
    padding: 15px 10px;
    font-size: 12px;
    white-space: nowrap;
    border-bottom: 1px solid rgba($color-white, .15);
}

.media-playlist__header__title {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    a {
        color: inherit;
    }
}

.media-playlist__header__info {
    color: $navbar-default-link-disabled-color;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.media-playlist__icon {
    padding: 0 5px;
    font-size: 30px;
    opacity: .6;
    line-height: 1.1;
    display: inline-block;
    vertical-align: middle;
    &:hover,
    &:focus {
        text-decoration: none;
        opacity: 1;
    }
}

.media-playlist__tracks {
    position: absolute;
    top: 68px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    >li {
        overflow: hidden;
        padding: 10px 10px 10px 0;
        margin: 0;
        background-color: $video-playlist-item-bg;
        &.currently-playing {
            background-color: $video-playlist-item-active-bg;
        }
        &:hover {
            background-color: $video-playlist-item-hover-bg;
        }
    }
}

.media-playlist__index {
    font-size: 10px;
    float: left;
    line-height: $video-playlist-item-height;
    margin: 0 2px;
    text-align: center;
    width: 24px;
    .currently-playing & {
        line-height: $video-playlist-item-height - 2;
        color: $brand-primary-light;
        font-size: 0;
        position: relative;
        &:after {
            content: "▶";
            position: absolute;
            font-size: 20px;
            right: 3px;
        }
    }
}

.media-playlist__video {
    display: block;
    height: $video-playlist-item-height;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: $video-playlist-color;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.media-playlist__video__thumb {
    float: left;
    margin-right: 10px;
    overflow: hidden;
    background: #f1f1f1;
    font-size: 0;
}

.media-playlist__video__description {
    overflow: hidden;
    position: relative;
    top: -2px;
    h4 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    span {
        font-size: 12px;
        color: $navbar-default-brand-color;
    }
}

// List
.media-list {
    margin-right: -10px;
    margin-left: 0;
    padding: 0;
    >li {
        margin: 0 10px 10px 0;
        padding: 0;
        @media screen and (max-width: $screen-xs-max - 300) {
            display: block;
            text-align: center;
        }
    }
}

.media-thumb-box {
    display: block;
    width: 196px;
    text-align: left;
    @media screen and (max-width: $screen-xs-max - 300) {
        display: inline-block;
    }
}

.media-thumb-box__thumb {
    position: relative;
    margin-bottom: 5px;
    img {
        width: 100%;
    }
    .media-thumb-box__thumb__info,
    .media-thumb-box__thumb__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .media-thumb-box__thumb__info {
        background-color: rgba(0, 0, 0, .8);
        color: $gray-light;
        width: 43.75%;
    }
    .media-thumb-box__thumb__overlay {
        background-color: rgba(0, 0, 0, .7);
        display: none;
        left: 0;
    }
    .info-content,
    .overlay-content {
        position: absolute;
        top: 50%;
        width: 100%;
        text-shadow: 0 1px 1px rgba(255, 255, 255, .6);
        text-transform: uppercase;
        text-align: center;
    }
    .info-content {
        margin-top: -25px;
        font-size: 10px;
        b {
            font-size: 20px;
        }
    }
    .overlay-content {
        margin-top: -9px;
        font-size: 16px;
        color: $color-white;
    }
    &:hover {
        .media-thumb-box__thumb__overlay {
            display: block;
        }
    }
}

.media-thumb-box__info {
    overflow: hidden;
    position: relative;
}

.media-thumb-box__title {
    font-size: 14px;
    margin: 5px 0 1px;
    max-width: 196px;
}

.media-thumb-box__meta {
    color: $gray-light;
    font-size: 12px;
}