.media-wrap,
.media-player,
.media-playlist {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0;
    color: inherit;
}

// Player with playlist
.media-wrap {
    background-color: $video-playlist-bg;
    color: $color-white;
    line-height: 1.5;
    a {
        &:not(.btn) {
            color: $gray-lighter;
            &:hover {
                color: $color-white;
            }
        }
    }
    &.media-video {
        .media-player .video-js {
            padding-top: 56.25%;
        }
        @media screen and (min-width: $screen-md-min) {
            .media-player {
                height: $video-height;
                float: left;
                margin-left: $video-width * (-1);
                padding-left: $video-width;
                .video-js {
                    height: 100%;
                    padding: 0;
                }
            }
            .media-playlist {
                width: $video-width;
                height: $video-height;
                position: absolute;
                right: 0;
                padding: 0;
            }
        }
    }
}

// Player
.media-player {
    width: 100%;
    clear: both;
    .video-js {
        width: 100%;
    }
}

.media-player__content {
    padding: 15px;
}

.media-title {
    font-size: 20px;
    margin: 0 0 15px;
    a {
        color: inherit;
    }
}

.media-author {
    line-height: 0;
    font-size: 13px;
    a {
        color: $video-color;
        &:hover {
            text-decoration: none;
        }
    }
    img,
    span {
        vertical-align: middle;
    }
    img {
        border: 1px solid $color-black;
    }
    span {
        padding: 2px 5px 2px 1px;
    }
}

.media-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 10px;
    visibility: visible;
    opacity: 1;
    @media screen and (max-width: $screen-xs-min - 100) {
        padding: 0;
    }
    .media-title,
    .media-btn-group,
    .media-author {
        pointer-events: all;
    }
    .media-title {
        background-color: rgba($color-black, .7);
        padding: 5px 10px;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
    }
    .media-author {
        background-color: rgba($color-black, .7);
        position: absolute;
        bottom: 0;
        a {
            color: $video-color;
        }
    }
    .video-js & {
        transition: visibility 0.1s, opacity 0.1s;
        pointer-events: none;
        bottom: 10px;
        z-index: 1112;
    }
    .vjs-ad-playing & {
        display: none;
    }
    @media screen and (max-width: $screen-xs-min - 100) {
        .media-author {
            display: none;
        }
    }
    @media screen and (max-width: $screen-xs-min - 150) {
        .media-btn-group {
            display: none;
        }
    }
}

.video-js {
    &.vjs-has-started {
        .media-header {
            bottom: 70px;
        }
        &.vjs-user-inactive.vjs-playing {
            .media-header {
                opacity: 0;
                visibility: hidden;
                transition: visibility 1s, opacity 1s;
            }
        }
    }
}

.media-false-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(50px);
    overflow: hidden;
    +.video-js {
        z-index: 1;
        background-color: transparent;
    }
}

.media-btn-group {
    font-size: 1.5em;
    width: 2.3em;
    .media-icon {
        display: none;
        border: none;
        color: #fff;
        cursor: pointer;
        background: rgba($color-black, 0.5);
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5;
        font-size: 1.5em;
        margin-bottom: 0.2em;
        transition: background-color .25s cubic-bezier(0.0, 0.0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: darken($video-color, 10%);
        }
    }
}

.info-content {
    color: lighten($gray-base, 65%);
    font-size: 85%;
    b {
        font-size: 200%;
        font-weight: normal;
        display: block;
    }
}

// Playlist
.media-playlist {
    //height: $video-height;
    padding-top: 56.25%;
}

.media-close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.media-playlist__header {
    position: absolute;
    top: 0;
    padding: 15px 10px;
    font-size: 12px;
    white-space: nowrap;
    border: 0px solid $track-border;
    border-bottom-width: 1px;
    width: 100%;
    box-sizing: border-box;
    .pull-right {
        margin-top: -5px;
    }
    +.media-playlist__tracks {
        top: 68px;
        bottom: 0;
        border-top-width: 0px;
    }
    .drawer & {
        z-index: -1;
    }
}

.media-playlist__header__title {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    a {
        color: inherit;
    }
}

.media-playlist__header__info {
    color: $navbar-default-link-disabled-color;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.media-playlist__tracks {
    position: absolute;
    top: 0;
    bottom: 68px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid $track-border;
    >li {
        overflow: hidden;
        padding: 15px 10px 15px 0;
        margin: 0;
        background-color: $video-playlist-item-bg;
        &.currently-playing {
            background-color: $video-playlist-item-active-bg;
        }
        &:hover {
            background-color: $video-playlist-item-hover-bg;
        }
    }
    +.media-playlist__header {
        top: auto;
        bottom: 0;
        border-bottom-width: 0px;
        border-top-width: 1px;
    }
}

.media-playlist__index {
    font-size: 10px;
    float: left;
    line-height: $video-playlist-item-height;
    margin: 0 5px;
    text-align: center;
    width: 24px;
    .currently-playing & {
        color: $video-color;
        font-size: 0;
        position: relative;
        &:after {
            content: "▶";
            position: absolute;
            font-size: 20px;
            right: 3px;
        }
    }
}

.media-playlist__video,
.media-playlist__audio {
    display: block;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: $video-playlist-color;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.media-playlist__video {
    height: $video-playlist-item-height;
}

.media-playlist__audio {
    height: $audio-playlist-item-height;
    .media-playlist__index {
        line-height: $audio-playlist-item-height;
    }
}

.media-playlist__video__thumb,
.media-playlist__audio__thumb {
    float: left;
    margin-right: 10px;
    overflow: hidden;
    background: #f1f1f1;
    font-size: 0;
}

.media-playlist__video__thumb img {
    width: 80px;
    height: $video-playlist-item-height;
}

.media-playlist__audio__thumb img {
    width: $audio-playlist-item-height;
    height: $audio-playlist-item-height;
}

.media-playlist__video__description,
.media-playlist__audio__description {
    overflow: hidden;
    position: relative;
    h4 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    span {
        font-size: 12px;
        color: $navbar-default-brand-color;
    }
}

.media-playlist__audio__description {
    h4 {
        margin-right: 50px;
    }
    span {
        float: right;
        margin-top: -20px;
    }
}

.media-embed-code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
}

.media-embed-content {
    display: table-cell;
    background-color: rgba($color-black, 0.8);
}

.buttons {
    padding-left: 0;
    display: inline-block;
    margin: 10px 0;
    font-size: 0;
    li {
        font-size: 16px;
        display: inline-block;
        list-style-type: none;
        border-left: 1px solid rgba($color-black, .14);
        box-shadow: inset 1px 0 0 0 rgba($color-white, .14);
        background-color: $video-color;
        @media screen and (max-width: $screen-xs-min) {
            font-size: 10px;
        }
        a {
            display: inline-block;
            padding: 0.8em 0.8em .6em;
            line-height: 1;
            color: $color-white;
            &:hover,
            &:focus {
                background-color: rgba($color-black, .14);
            }
        }
        svg {
            width: 2em;
            height: 1.8em;
            outline: 0;
        }
        .fill {
            fill: $color-white;
        }
        &:first-child {
            border-left-width: 0;
            box-shadow: none;
        }
    }
}

.social-textfield-container {
    background-color: $color-white;
    border: 1px solid $color-black;
    font-weight: bold;
    position: relative;
    width: 100%;
    height: 2.5em;
    line-height: 3.8;
    text-align: left;
    display: flex;
    overflow: hidden;
    &:hover {
        background-color: $video-color;
    }
    @media screen and (max-width: $screen-xs-min - 100) {
        display: none;
    }
}

.social-textfield-label {
    background-color: rgba($color-black, .67);
    width: 20%;
    overflow: hidden;
    font-size: 0.7em;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 15px;
    text-transform: uppercase;
    flex: none;
    user-select: none;
    @media screen and (max-width: $screen-xs-min) {
        display: none;
    }
}

.social-textfield-url {
    flex: auto;
    border: none;
    outline: none;
    background-color: rgba($color-black, .6);
    color: inherit;
    padding: 0 10px;
    font-size: 0.9em;
    &:focus {
        background-color: $color-white;
        color: $color-black;
    }
}

.vjs-ad-playing {
    .vjs-big-play-button {
        display: none !important;
    }
}