.media-player__poster {
    float: left;
    padding: 15px;
    display: none;
    position: relative;
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
    }
    &:before {
        width: 40%;
        height: 40%;
        box-shadow: inset 15px 0px 0px -7px $gray-lighter, inset -15px 0px 0px -7px $color-white;
        background: linear-gradient($gray-lighter 20%, transparent 0);
        transform: translate(-35%, -60%);
    }
    &:after {
        width: 20%;
        height: 20%;
        border-radius: 50%;
        background-color: $gray-lighter;
        box-shadow: 58px 0 0 0 $gray-lighter;
        transform: translate(-147%, 26%);
    }
    img {
        position: relative;
        z-index: 1;
        width: $audio-height;
        height: $audio-height;
        vertical-align: middle;
        background-color: rgba($gray-light, 0.5);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 0;
    }
    +.media-player__content {
        .video-js {
            height: 50px;
            background: transparent;
            margin-top: 20px;
            .vjs-control-bar {
                padding-right: 10px;
                margin-left: 0;
                margin-right: 0;
            }
            .vjs-loading-spinner {
                display: none;
            }
            &.vjs-paused {
                .vjs-big-play-button {
                    display: none;
                }
                .vjs-control-bar {
                    display: flex;
                }
            }
        }
    }
    @if not $embed-style {
        @media screen and (min-width: $screen-md-min) {
            display: block;
            +.media-player__content {
                margin-left: $audio-height + 30;
                padding: 15px 15px 0 0;
            }
        }
    }
    @else {
        @media screen and (min-width: $screen-xs-min) {
            display: block;
            +.media-player__content {
                margin-left: $audio-height + 30;
                padding: 15px 15px 0 0;
            }
        }
    }
}

.media-info {
    padding: 0 15px 15px;
    overflow: hidden;
    @if not $embed-style {
        @media screen and (min-width: $screen-md-min) {
            padding-top: 15px;
            padding-left: 0;
        }
    }
    @else {
        @media screen and (min-width: $screen-xs-min) {
            padding-top: 15px;
            padding-left: 0;
        }
    }
}