header[role="banner"] {
    .navbar {
        border-radius: 0;
    }
    .navbar-brand {
        &.brand {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.brand {
    a[rel="home"] {
        border: 1px solid rgba($color-black, .15);
        color: $color-black;
        background-color: $color-white;
        padding: 8px 12px;
        font-weight: 300;
        &:hover {
            background-color: rgba($color-black, .7);
            color: $color-white;
            text-decoration: none;
        }
    }
}

#collapseProfile {
    padding: 0;
    .jumbotron {
        margin-top: -20px;
    }
}

#content[role="main"] {
    >.container {
        padding: 0;
        //box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        background-color: $color-white;
        >.navbar {
            border-radius: 0;
        }
        .navbar-brand {
            img {
                margin: -20px 0 0 -20px;
            }
        }
    }
}

footer[role="contentinfo"] {
    margin: 40px 0 0 0;
    padding: 0 0 40px 0;
    font-size: 12px;
    line-height: 1.2;
    color: #808080;
}