header[role="banner"] {
    .navbar {
        border-radius: 0;
    }
    .navbar-brand {
        &.brand {
            float: none;
            display: block;
        }
    }
}

#content[role="main"] {
    >.container {
        padding: 0;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        background-color: $color-white;
        >.navbar {
            border-radius: 0;
        }
        .navbar-brand {
            img {
                margin: -20px 0 0 -20px;
            }
        }
    }
}

footer[role="contentinfo"] {
    margin: 40px 0 0 0;
    padding: 0 0 40px 0;
}