@import "bootstrap-variables-override";
@import "../vendors/bootstrap/stylesheets/bootstrap/variables";
@import "../vendors/bootstrap/stylesheets/bootstrap/mixins";
// Colors
$color-white: #fff;
$brand-primary-light: lighten($brand-primary, 15.5%);
// Height and Width
$header-height: 150px;
$video-width: 400px;
$video-height: 425px;
$video-playlist-item-height: 283px;
$spacer: 20px;
$spacer-x: 20px;
$spacer-y: 20px;