@import "bootstrap-variables-override";
@import "../vendors/bootstrap/stylesheets/bootstrap/variables";
@import "../vendors/bootstrap/stylesheets/bootstrap/mixins";
$embed-style: false !default;
// Colors
$color-white: #fff;
$color-black: $gray-base;
$brand-primary-light: lighten($brand-primary, 15.5%);
// Height and Width
$header-height: 150px;
$spacer: 20px;
$spacer-x: 20px;
$spacer-y: 20px;
// video contaent
$video-width: 400px;
$video-height: 425px;
$video-playlist-item-height: 45px;
$video-playlist-color: $color-white;
$video-playlist-bg: $navbar-inverse-bg;
$video-playlist-item-bg: transparent;
$video-playlist-item-hover-bg: rgba($color-white, .15);
$video-playlist-item-active-bg: rgba($color-white, .1);
$audio-height: 135px;