/**
 * styles
 * @version 1.1.0
 * @copyright 2017 blogg.no
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
@import "variables";
$embed-style: true;
//@import "../vendors/bootstrap/stylesheets/bootstrap/glyphicons";
//@import "../vendors/bootstrap/stylesheets/bootstrap/normalize";
html {
    font-family: $font-family-sans-serif; // 1
    -ms-text-size-adjust: 100%; // 2
    -webkit-text-size-adjust: 100%; // 2
}

body {
    margin: 0;
    background-color: $color-white;
}

header {
    display: block;
}

video {
    display: inline-block; // 1
    vertical-align: baseline; // 2
}

//@import "../vendors/bootstrap/stylesheets/bootstrap/scaffolding";
a {
    color: $link-color;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
    &:focus {
        @include tab-focus;
    }
}

//@import "../vendors/bootstrap/stylesheets/bootstrap/type";
h3 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h3 {
    margin-top: $line-height-computed;
    margin-bottom: ($line-height-computed / 2);
}

h4 {
    margin-top: ($line-height-computed / 2);
    margin-bottom: ($line-height-computed / 2);
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

p {
    margin: 0 0 ($line-height-computed / 2);
}

ul,
ol {
    margin-top: 0;
    margin-bottom: ($line-height-computed / 2);
    ul,
    ol {
        margin-bottom: 0;
    }
}

@mixin list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled {
    @include list-unstyled;
}

.list-inline {
    @include list-unstyled;
    margin-left: -5px;
    >li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.text-nowrap {
    white-space: nowrap;
}

.text-muted {
    color: $text-muted;
}

@import "../vendors/bootstrap/stylesheets/bootstrap/buttons";
.btn-primary {
    @include button-variant($btn-primary-color,
    $video-color,
    $video-color);
}

//@import "../vendors/bootstrap/stylesheets/bootstrap/utilities";
.clearfix {
    @include clearfix;
}

.center-block {
    @include center-block;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

//@import "utilities";
.v-mid {
    vertical-align: middle;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.text-truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-img {
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@import "component-media";
@import "component-media-embed";
@import "component-media-podcast";
@import "vjs-skins/vjs-bloggmedia-skin";